# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Python Starts Here
ULib_VENV/
__pycache__/
build/
develop-eggs/
dist/
downloads/
docs/_build/
eggs/
.eggs/
*.egg-info/
htmlcov/
.hypothesis/
instance/
parts/
sdist/
target/
.tox/
var/
venv/
*.py[cod]
*$py.class
*.so
.env
*.egg
.installed.cfg
*.manifest
celerybeat-schedule
*,cover
.coverage
.coverage.*
coverage.xml
.cache
.DS_Store
.idea/workspace.xml
.idea/tasks.xml
.ipynb_checkpoints
local_settings.py
*.log
MANIFEST
*.mo
nosetests.xml
pip-log.txt
pip-delete-this-directory.txt
.python-version
*.rdb
.scrapy
*.spec
*.pot
.webassets-cache
